.banner-login {
    background-image: url(../../Images/bg-login.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -100px;
}

.banner-ls {
    padding: 200px 0px;
}

.d-login {
    display: flex;
    justify-content: center;
}

.d-login div {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 40px 80px;
    border-radius: 20px;
}