.banner-destination {
    background-image: url(https://demo.egenslab.com/html/tourx/assets/images/breadcrumb-bg.png);
    background-attachment: fixed;
    background-position: top;
    background-size: 150vw 90vh;
    background-repeat: no-repeat;
}

.banner-ds {
    padding: 200px 0px;
}

.banner-ds h1 {
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
}