.banner-service {
    background-image: url(../../Images/banner2.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: 180vw 90vh;
    background-repeat: no-repeat;
}

.banner-ps {
    padding: 200px 0px;
}

.banner-service h1 {
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: bold;
}